html {
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 99px 1350px #fff, 331px 558px #fff, 1349px 300px #fff, 1003px 619px #fff, 1329px 1311px #fff, 244px 400px #fff,
		1207px 96px #fff, 1821px 800px #fff, 1948px 1287px #fff, 1057px 574px #fff, 1426px 1891px #fff, 1331px 797px #fff,
		78px 851px #fff, 1827px 1821px #fff, 1503px 1332px #fff, 1665px 1520px #fff, 1081px 690px #fff, 84px 536px #fff,
		1230px 1762px #fff, 1587px 283px #fff, 1809px 1311px #fff, 660px 1125px #fff, 1201px 1503px #fff, 1218px 1478px #fff,
		1063px 882px #fff, 1030px 485px #fff, 1029px 939px #fff, 1774px 1618px #fff, 1688px 1161px #fff, 105px 3px #fff,
		529px 637px #fff, 1303px 1039px #fff, 1075px 24px #fff, 745px 1955px #fff, 1227px 1516px #fff, 397px 1585px #fff,
		1161px 810px #fff, 495px 547px #fff, 1551px 1167px #fff, 826px 447px #fff, 341px 196px #fff, 147px 1805px #fff,
		425px 1553px #fff, 1374px 1117px #fff, 89px 1190px #fff, 1426px 1233px #fff, 1698px 1810px #fff, 272px 1192px #fff,
		921px 1540px #fff, 1800px 600px #fff, 1588px 654px #fff, 938px 1621px #fff, 396px 189px #fff, 1422px 616px #fff,
		246px 271px #fff, 741px 1209px #fff, 919px 140px #fff, 1122px 1368px #fff, 406px 1302px #fff, 464px 1528px #fff,
		1864px 1204px #fff, 672px 591px #fff, 1217px 1113px #fff, 999px 437px #fff, 318px 555px #fff, 1990px 1644px #fff,
		1417px 1124px #fff, 1543px 1864px #fff, 1441px 1225px #fff, 1119px 1596px #fff, 440px 830px #fff, 1800px 743px #fff,
		617px 467px #fff, 1051px 1697px #fff, 623px 209px #fff, 986px 1535px #fff, 823px 1785px #fff, 1299px 1906px #fff,
		1400px 1259px #fff, 1806px 753px #fff, 332px 1251px #fff, 1782px 1009px #fff, 246px 377px #fff, 227px 1288px #fff,
		210px 1485px #fff, 1119px 101px #fff, 1935px 1202px #fff, 1959px 571px #fff, 406px 426px #fff, 1874px 297px #fff,
		606px 1113px #fff, 235px 438px #fff, 1985px 1629px #fff, 1807px 1038px #fff, 1808px 1697px #fff, 1960px 931px #fff,
		1399px 1687px #fff, 1769px 71px #fff, 1287px 754px #fff, 1371px 730px #fff, 682px 1709px #fff, 1827px 1638px #fff,
		161px 664px #fff, 538px 1010px #fff, 224px 552px #fff, 32px 1718px #fff, 1148px 1414px #fff, 1366px 1785px #fff,
		918px 1937px #fff, 110px 827px #fff, 537px 1625px #fff, 1486px 532px #fff, 394px 1733px #fff, 1176px 1758px #fff,
		1965px 1560px #fff, 1438px 351px #fff, 1403px 497px #fff, 367px 394px #fff, 1081px 1107px #fff, 1323px 123px #fff,
		1904px 1598px #fff, 440px 1467px #fff, 1100px 1410px #fff, 132px 1515px #fff, 307px 1015px #fff, 236px 1069px #fff,
		1423px 1069px #fff, 617px 1904px #fff, 1095px 1275px #fff, 689px 1739px #fff, 833px 1856px #fff, 954px 1066px #fff,
		1706px 121px #fff, 192px 132px #fff, 262px 297px #fff, 1857px 881px #fff, 34px 1596px #fff, 1094px 956px #fff,
		477px 1121px #fff, 74px 416px #fff, 1501px 662px #fff, 912px 531px #fff, 281px 967px #fff, 558px 883px #fff,
		141px 1331px #fff, 1931px 1430px #fff, 20px 927px #fff, 1030px 1701px #fff, 1421px 1888px #fff, 1274px 1479px #fff,
		204px 1151px #fff, 851px 136px #fff, 896px 208px #fff, 186px 951px #fff, 1534px 1603px #fff, 501px 1189px #fff,
		218px 1089px #fff, 1594px 1069px #fff, 1413px 900px #fff, 1067px 770px #fff, 152px 193px #fff, 33px 206px #fff,
		839px 1468px #fff, 1900px 1421px #fff, 1748px 484px #fff, 1714px 1145px #fff, 1094px 50px #fff, 1174px 1191px #fff,
		210px 1111px #fff, 876px 1968px #fff, 657px 598px #fff, 700px 1892px #fff, 1348px 956px #fff, 1434px 2000px #fff,
		395px 237px #fff, 713px 1076px #fff, 1033px 155px #fff, 1956px 55px #fff, 1604px 623px #fff, 1787px 91px #fff,
		1176px 1299px #fff, 309px 1684px #fff, 1893px 535px #fff, 1147px 915px #fff, 1829px 1813px #fff, 1778px 1356px #fff,
		897px 1731px #fff, 1506px 1266px #fff, 678px 314px #fff, 1431px 1135px #fff, 169px 1649px #fff, 1856px 128px #fff,
		770px 445px #fff, 1539px 1485px #fff, 1280px 1004px #fff, 1295px 278px #fff, 334px 1298px #fff, 1987px 1508px #fff,
		1761px 1495px #fff, 349px 1373px #fff, 1388px 374px #fff, 1186px 1741px #fff, 517px 1125px #fff, 878px 1611px #fff,
		1832px 1068px #fff, 68px 1485px #fff, 1363px 1574px #fff, 892px 169px #fff, 140px 1042px #fff, 356px 10px #fff,
		890px 381px #fff, 1418px 7px #fff, 1158px 59px #fff, 1168px 683px #fff, 238px 1543px #fff, 1388px 1412px #fff,
		1714px 780px #fff, 1260px 809px #fff, 1252px 603px #fff, 1570px 430px #fff, 974px 23px #fff, 977px 1432px #fff,
		1951px 1269px #fff, 230px 318px #fff, 41px 1958px #fff, 1924px 1416px #fff, 88px 803px #fff, 843px 1302px #fff,
		683px 1132px #fff, 606px 1256px #fff, 1836px 489px #fff, 1266px 1478px #fff, 1153px 739px #fff, 1515px 642px #fff,
		529px 1467px #fff, 1838px 601px #fff, 1523px 575px #fff, 959px 60px #fff, 1250px 1551px #fff, 1847px 522px #fff,
		949px 1395px #fff, 301px 1823px #fff, 742px 603px #fff, 1679px 604px #fff, 1829px 981px #fff, 603px 147px #fff,
		1069px 1043px #fff, 334px 405px #fff, 1680px 880px #fff, 1054px 1607px #fff, 1787px 1252px #fff, 1722px 761px #fff,
		485px 412px #fff, 724px 534px #fff, 1042px 756px #fff, 373px 783px #fff, 1599px 1201px #fff, 1305px 1450px #fff,
		306px 65px #fff, 1975px 1329px #fff, 668px 498px #fff, 17px 605px #fff, 506px 1184px #fff, 388px 1878px #fff,
		668px 1663px #fff, 43px 527px #fff, 881px 717px #fff, 971px 1376px #fff, 1357px 149px #fff, 1185px 1311px #fff,
		1921px 1371px #fff, 1774px 1509px #fff, 892px 552px #fff, 382px 1998px #fff, 12px 951px #fff, 738px 147px #fff,
		279px 886px #fff, 1356px 257px #fff, 1413px 777px #fff, 339px 312px #fff, 1827px 1622px #fff, 790px 1630px #fff,
		1835px 915px #fff, 1983px 1183px #fff, 1146px 427px #fff, 1100px 1637px #fff, 403px 475px #fff, 263px 1762px #fff,
		1676px 568px #fff, 1728px 1906px #fff, 1874px 1937px #fff, 1214px 32px #fff, 1378px 1668px #fff, 134px 409px #fff,
		865px 1389px #fff, 1765px 839px #fff, 1578px 161px #fff, 1310px 479px #fff, 942px 469px #fff, 965px 1466px #fff,
		1654px 177px #fff, 1465px 1110px #fff, 333px 1468px #fff, 252px 695px #fff, 1657px 47px #fff, 459px 173px #fff,
		1074px 1045px #fff, 195px 890px #fff, 1037px 424px #fff, 302px 37px #fff, 35px 878px #fff, 580px 1463px #fff,
		1598px 896px #fff, 158px 235px #fff, 602px 86px #fff, 1727px 424px #fff, 1304px 860px #fff, 1179px 1259px #fff,
		742px 1818px #fff, 266px 803px #fff, 1914px 1705px #fff, 327px 137px #fff, 235px 199px #fff, 1514px 263px #fff,
		27px 198px #fff, 311px 742px #fff, 461px 1137px #fff, 1460px 1822px #fff, 1012px 277px #fff, 293px 1459px #fff,
		443px 63px #fff, 1946px 1869px #fff, 946px 487px #fff, 1080px 76px #fff, 501px 1430px #fff, 840px 41px #fff,
		438px 1323px #fff, 1394px 1829px #fff, 22px 969px #fff, 538px 1098px #fff, 1474px 1404px #fff, 1344px 326px #fff,
		358px 57px #fff, 446px 568px #fff, 950px 1932px #fff, 687px 1769px #fff, 925px 167px #fff, 1735px 152px #fff,
		1441px 366px #fff, 1933px 1349px #fff, 1284px 1105px #fff, 674px 510px #fff, 220px 291px #fff, 667px 363px #fff,
		473px 1334px #fff, 1211px 392px #fff, 1958px 992px #fff, 1545px 745px #fff, 15px 253px #fff, 1681px 1821px #fff,
		621px 539px #fff, 542px 1218px #fff, 1431px 1003px #fff, 1600px 978px #fff, 1556px 158px #fff, 1156px 329px #fff,
		1941px 975px #fff, 950px 160px #fff, 762px 152px #fff, 1742px 1438px #fff, 1792px 1455px #fff, 113px 132px #fff,
		851px 62px #fff, 691px 165px #fff, 1360px 1629px #fff, 468px 168px #fff, 791px 276px #fff, 739px 1942px #fff,
		1622px 356px #fff, 1272px 176px #fff, 1484px 478px #fff, 1746px 554px #fff, 1419px 24px #fff, 442px 1139px #fff,
		896px 1199px #fff, 1843px 870px #fff, 1653px 166px #fff, 6px 814px #fff, 937px 1600px #fff, 1445px 331px #fff,
		1956px 32px #fff, 1687px 739px #fff, 1036px 390px #fff, 1002px 618px #fff, 1541px 1894px #fff, 1546px 352px #fff,
		1089px 991px #fff, 1088px 1538px #fff, 928px 75px #fff, 1378px 260px #fff, 1383px 846px #fff, 246px 415px #fff,
		1030px 225px #fff, 1074px 242px #fff, 1657px 282px #fff, 430px 1774px #fff, 1729px 1244px #fff, 370px 919px #fff,
		565px 372px #fff, 1762px 258px #fff, 1390px 1515px #fff, 657px 66px #fff, 946px 1368px #fff, 572px 11px #fff,
		221px 204px #fff, 1478px 353px #fff, 1949px 1108px #fff, 1883px 54px #fff, 499px 1987px #fff, 514px 1891px #fff,
		127px 1351px #fff, 1476px 385px #fff, 401px 1994px #fff, 859px 1154px #fff, 1657px 901px #fff, 849px 653px #fff,
		661px 1173px #fff, 191px 130px #fff, 666px 76px #fff, 60px 1364px #fff, 451px 939px #fff, 899px 1850px #fff,
		274px 1027px #fff, 1675px 134px #fff, 1764px 1930px #fff, 1822px 433px #fff, 481px 1888px #fff, 852px 828px #fff,
		1559px 824px #fff, 383px 1111px #fff, 815px 787px #fff, 170px 862px #fff, 282px 1828px #fff, 49px 965px #fff,
		659px 419px #fff, 55px 845px #fff, 596px 885px #fff, 667px 891px #fff, 382px 627px #fff, 113px 1191px #fff,
		7px 1409px #fff, 1204px 1391px #fff, 686px 934px #fff, 1552px 538px #fff, 1880px 527px #fff, 1644px 280px #fff,
		1490px 535px #fff, 361px 1817px #fff, 1008px 498px #fff, 1965px 116px #fff, 1233px 495px #fff, 1239px 287px #fff,
		1084px 1596px #fff, 873px 278px #fff, 602px 1094px #fff, 372px 774px #fff, 31px 1657px #fff, 1565px 1008px #fff,
		1357px 52px #fff, 1649px 1669px #fff, 1852px 373px #fff, 290px 394px #fff, 1002px 619px #fff, 1755px 1057px #fff,
		1541px 1840px #fff, 1841px 1065px #fff, 1464px 1397px #fff, 1839px 244px #fff, 342px 472px #fff, 1107px 440px #fff,
		756px 1098px #fff, 1322px 1812px #fff, 1113px 530px #fff, 1045px 821px #fff, 35px 920px #fff, 435px 1437px #fff,
		662px 1681px #fff, 490px 1591px #fff, 978px 1996px #fff, 1062px 19px #fff, 1698px 1508px #fff, 1037px 119px #fff,
		1878px 1326px #fff, 943px 1759px #fff, 510px 1595px #fff, 1427px 1829px #fff, 1915px 1648px #fff, 283px 1953px #fff,
		927px 963px #fff, 753px 135px #fff, 1239px 1664px #fff, 292px 1376px #fff, 1504px 91px #fff, 378px 34px #fff,
		1927px 1268px #fff, 692px 1346px #fff, 1531px 1181px #fff, 1653px 577px #fff, 1160px 1063px #fff, 35px 1577px #fff,
		461px 1632px #fff, 1054px 1334px #fff, 1471px 1725px #fff, 448px 1320px #fff, 697px 1989px #fff, 121px 1688px #fff,
		1942px 1862px #fff, 1282px 247px #fff, 985px 314px #fff, 1738px 142px #fff, 1545px 1784px #fff, 483px 136px #fff,
		1512px 698px #fff, 1839px 1694px #fff, 401px 612px #fff, 1532px 621px #fff, 601px 1001px #fff, 1348px 381px #fff,
		1950px 1879px #fff, 893px 1205px #fff, 1392px 730px #fff, 1446px 1397px #fff, 667px 1281px #fff, 1498px 77px #fff,
		1210px 1115px #fff, 814px 938px #fff, 958px 1157px #fff, 1726px 951px #fff, 1527px 270px #fff, 1279px 1852px #fff,
		1962px 1850px #fff, 479px 1429px #fff, 1590px 678px #fff, 948px 1021px #fff, 871px 1926px #fff, 1515px 79px #fff,
		1155px 794px #fff, 1547px 572px #fff, 708px 1527px #fff, 1564px 612px #fff, 1164px 1408px #fff, 194px 78px #fff,
		969px 1583px #fff, 1536px 978px #fff, 1478px 1704px #fff, 1894px 680px #fff, 1573px 885px #fff, 1542px 813px #fff,
		867px 1678px #fff, 351px 995px #fff, 530px 1863px #fff, 1562px 1110px #fff, 1666px 1996px #fff, 827px 300px #fff,
		1140px 418px #fff, 850px 305px #fff, 116px 1599px #fff, 391px 1224px #fff, 559px 1399px #fff, 1850px 1148px #fff,
		384px 850px #fff, 1192px 1589px #fff, 1633px 1599px #fff, 53px 1408px #fff, 849px 1804px #fff, 1964px 1291px #fff,
		770px 37px #fff, 956px 76px #fff, 610px 129px #fff, 812px 1089px #fff, 1050px 161px #fff, 322px 1241px #fff,
		1790px 1564px #fff, 1084px 1094px #fff, 881px 490px #fff, 985px 1711px #fff, 1913px 1643px #fff, 1431px 1056px #fff,
		1123px 1561px #fff, 962px 86px #fff, 1888px 498px #fff, 1466px 1328px #fff, 1931px 484px #fff, 78px 138px #fff,
		96px 1780px #fff, 1373px 521px #fff, 1486px 1733px #fff, 1683px 1475px #fff, 1439px 1298px #fff, 1585px 674px #fff,
		600px 2px #fff, 649px 1109px #fff, 286px 762px #fff, 1191px 110px #fff, 68px 644px #fff, 1171px 162px #fff,
		1992px 377px #fff, 595px 1288px #fff, 1205px 1739px #fff, 545px 1601px #fff, 1071px 758px #fff, 337px 1486px #fff,
		250px 58px #fff, 216px 555px #fff, 1643px 168px #fff, 623px 688px #fff, 33px 186px #fff, 1154px 1016px #fff,
		102px 1660px #fff, 1487px 593px #fff, 435px 194px #fff, 1614px 1250px #fff, 1966px 631px #fff, 1050px 345px #fff,
		56px 1758px #fff, 1431px 761px #fff, 1469px 1773px #fff, 649px 1235px #fff, 54px 1338px #fff, 1765px 97px #fff,
		1441px 1309px #fff, 1547px 1717px #fff, 1455px 418px #fff, 754px 11px #fff, 1843px 1938px #fff, 1206px 1602px #fff,
		1906px 1370px #fff, 88px 1961px #fff, 511px 1311px #fff, 1449px 365px #fff, 754px 587px #fff, 1320px 1434px #fff,
		1378px 596px #fff, 792px 561px #fff, 952px 1987px #fff, 1261px 1403px #fff, 1619px 1320px #fff, 391px 484px #fff,
		467px 1844px #fff, 754px 1669px #fff, 399px 977px #fff, 90px 1079px #fff, 220px 279px #fff, 1140px 1883px #fff,
		1472px 796px #fff, 1726px 1736px #fff, 15px 21px #fff, 243px 369px #fff, 695px 89px #fff, 1540px 1308px #fff,
		980px 140px #fff, 1979px 1957px #fff, 1263px 1086px #fff, 342px 172px #fff, 575px 792px #fff, 1965px 80px #fff,
		1662px 1813px #fff, 1372px 1293px #fff, 1111px 397px #fff, 958px 1549px #fff, 1249px 965px #fff, 394px 260px #fff,
		939px 1034px #fff, 757px 865px #fff, 1337px 1106px #fff, 1243px 537px #fff, 1852px 1760px #fff, 221px 88px #fff,
		655px 367px #fff, 902px 474px #fff, 1329px 247px #fff, 1063px 829px #fff, 1113px 437px #fff, 1879px 1568px #fff,
		275px 969px #fff, 203px 111px #fff, 1753px 217px #fff, 655px 478px #fff, 631px 1143px #fff, 1289px 708px #fff,
		1289px 39px #fff, 1938px 1516px #fff, 448px 404px #fff, 1469px 1222px #fff, 1229px 379px #fff, 1055px 355px #fff,
		1848px 1316px #fff, 588px 1748px #fff, 1688px 62px #fff, 1779px 21px #fff;
	animation: animStar 50s linear infinite;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 142px 1994px #fff, 1415px 1307px #fff, 766px 1616px #fff, 1457px 934px #fff, 870px 761px #fff, 1032px 1735px #fff,
		1900px 1821px #fff, 1901px 271px #fff, 1986px 1426px #fff, 1229px 1210px #fff, 1636px 444px #fff, 462px 260px #fff,
		439px 951px #fff, 1102px 175px #fff, 1745px 1655px #fff, 122px 750px #fff, 1702px 836px #fff, 1393px 1249px #fff,
		1311px 1866px #fff, 820px 923px #fff, 1178px 1936px #fff, 351px 1604px #fff, 1826px 808px #fff, 934px 1704px #fff,
		1468px 1451px #fff, 65px 1282px #fff, 1164px 1399px #fff, 1027px 1791px #fff, 1039px 1454px #fff, 247px 105px #fff,
		358px 1487px #fff, 795px 1642px #fff, 412px 1792px #fff, 49px 830px #fff, 627px 1855px #fff, 1223px 5px #fff,
		1126px 254px #fff, 1403px 1667px #fff, 27px 143px #fff, 1082px 78px #fff, 1163px 1769px #fff, 668px 1527px #fff,
		85px 1043px #fff, 1338px 1621px #fff, 879px 735px #fff, 10px 477px #fff, 1105px 916px #fff, 1580px 554px #fff,
		1413px 1846px #fff, 1053px 446px #fff, 26px 432px #fff, 1445px 482px #fff, 1030px 47px #fff, 619px 1439px #fff,
		270px 1235px #fff, 904px 846px #fff, 1629px 963px #fff, 1388px 1367px #fff, 1256px 1391px #fff, 1612px 351px #fff,
		1247px 963px #fff, 1732px 1471px #fff, 1561px 1861px #fff, 1409px 438px #fff, 271px 51px #fff, 209px 847px #fff,
		347px 1974px #fff, 721px 1371px #fff, 747px 242px #fff, 227px 1175px #fff, 1474px 687px #fff, 1736px 1751px #fff,
		126px 1736px #fff, 1887px 1599px #fff, 1802px 134px #fff, 807px 823px #fff, 1468px 1032px #fff, 1217px 1982px #fff,
		339px 1238px #fff, 936px 1084px #fff, 1754px 1304px #fff, 1988px 60px #fff, 989px 1673px #fff, 1497px 1969px #fff,
		70px 529px #fff, 906px 139px #fff, 791px 603px #fff, 1604px 1096px #fff, 773px 319px #fff, 347px 388px #fff,
		102px 1115px #fff, 892px 139px #fff, 109px 176px #fff, 1935px 1654px #fff, 81px 427px #fff, 384px 1091px #fff,
		1807px 1846px #fff, 848px 476px #fff, 491px 271px #fff, 949px 1248px #fff, 416px 209px #fff, 1105px 1105px #fff,
		1051px 1584px #fff, 1900px 1614px #fff, 1458px 1482px #fff, 1360px 566px #fff, 453px 1622px #fff, 1069px 1120px #fff,
		1063px 1100px #fff, 886px 1994px #fff, 1845px 649px #fff, 891px 1710px #fff, 733px 1462px #fff, 1035px 23px #fff,
		1902px 952px #fff, 1768px 1357px #fff, 1490px 1888px #fff, 1060px 1744px #fff, 518px 871px #fff, 14px 808px #fff,
		311px 941px #fff, 1734px 1890px #fff, 1340px 830px #fff, 1732px 303px #fff, 1754px 1421px #fff, 608px 646px #fff,
		935px 716px #fff, 1775px 1504px #fff, 1460px 690px #fff, 1211px 1245px #fff, 351px 929px #fff, 428px 456px #fff,
		424px 1812px #fff, 727px 398px #fff, 1914px 174px #fff, 1372px 449px #fff, 1097px 1895px #fff, 1305px 291px #fff,
		1632px 1858px #fff, 452px 1468px #fff, 786px 1324px #fff, 1569px 1051px #fff, 1410px 1520px #fff, 1227px 1556px #fff,
		635px 1530px #fff, 1583px 997px #fff, 1210px 1927px #fff, 1616px 72px #fff, 508px 839px #fff, 1243px 1370px #fff,
		502px 308px #fff, 1988px 1750px #fff, 649px 885px #fff, 77px 1500px #fff, 578px 246px #fff, 166px 1025px #fff,
		1203px 176px #fff, 130px 1421px #fff, 555px 71px #fff, 654px 1693px #fff, 854px 505px #fff, 695px 691px #fff,
		204px 1890px #fff, 939px 1673px #fff, 40px 934px #fff, 969px 1130px #fff, 918px 858px #fff, 1914px 1664px #fff,
		922px 521px #fff, 321px 1034px #fff, 1714px 232px #fff, 1621px 1231px #fff, 167px 1600px #fff, 1569px 1225px #fff,
		1335px 1665px #fff, 1522px 376px #fff, 110px 247px #fff, 1394px 1497px #fff, 1814px 1695px #fff, 30px 877px #fff,
		1407px 1379px #fff, 1262px 1789px #fff, 1536px 638px #fff, 70px 282px #fff, 1194px 447px #fff, 1271px 1279px #fff,
		1110px 268px #fff, 848px 718px #fff, 519px 871px #fff, 722px 1885px #fff, 55px 551px #fff, 513px 1926px #fff,
		1357px 934px #fff, 1377px 1893px #fff, 1884px 773px #fff, 175px 770px #fff, 1111px 1517px #fff, 610px 760px #fff,
		1829px 1185px #fff, 1780px 1795px #fff;
	animation: animStar 100s linear infinite;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 369px 1503px #fff, 459px 282px #fff, 342px 767px #fff, 1773px 1817px #fff, 1875px 915px #fff, 117px 713px #fff,
		241px 460px #fff, 1892px 1236px #fff, 118px 1199px #fff, 1464px 1918px #fff, 1279px 1911px #fff, 1158px 891px #fff,
		1914px 1868px #fff, 201px 1428px #fff, 1862px 1700px #fff, 224px 607px #fff, 1980px 259px #fff, 454px 1348px #fff,
		1690px 335px #fff, 1675px 461px #fff, 1118px 1332px #fff, 384px 1008px #fff, 1450px 733px #fff, 869px 470px #fff,
		1685px 1304px #fff, 1399px 1457px #fff, 31px 409px #fff, 1926px 1054px #fff, 317px 1754px #fff, 316px 1222px #fff,
		1879px 338px #fff, 1494px 1716px #fff, 1749px 1299px #fff, 1945px 493px #fff, 141px 839px #fff, 1908px 925px #fff,
		1009px 1496px #fff, 886px 1525px #fff, 483px 817px #fff, 455px 1749px #fff, 1773px 1297px #fff, 915px 292px #fff,
		1775px 100px #fff, 1994px 1862px #fff, 1452px 451px #fff, 1687px 1914px #fff, 1111px 1488px #fff, 720px 1548px #fff,
		1227px 358px #fff, 850px 1007px #fff, 1391px 1826px #fff, 1288px 1853px #fff, 1687px 1043px #fff, 343px 1650px #fff,
		890px 1438px #fff, 534px 1538px #fff, 1322px 789px #fff, 1628px 1382px #fff, 1958px 1097px #fff, 394px 170px #fff,
		1730px 580px #fff, 933px 299px #fff, 1386px 302px #fff, 1886px 1540px #fff, 1713px 1498px #fff, 602px 510px #fff,
		625px 29px #fff, 1367px 485px #fff, 1398px 70px #fff, 1334px 675px #fff, 6px 1929px #fff, 922px 700px #fff,
		841px 825px #fff, 1885px 491px #fff, 375px 83px #fff, 1316px 975px #fff, 1290px 1059px #fff, 1346px 1265px #fff,
		169px 1627px #fff, 630px 155px #fff, 174px 1408px #fff, 211px 1866px #fff, 1588px 846px #fff, 672px 302px #fff,
		817px 1187px #fff, 1927px 882px #fff, 1874px 548px #fff, 721px 882px #fff, 524px 385px #fff, 269px 1065px #fff,
		1372px 469px #fff, 276px 504px #fff, 1641px 983px #fff, 1599px 1307px #fff, 527px 577px #fff, 259px 1285px #fff,
		1583px 705px #fff, 1003px 851px #fff, 605px 1924px #fff, 1307px 422px #fff;
	animation: animStar 150s linear infinite;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
